@import "../../colors/Colors.css";

.listContainer {
  display: flex;
  justify-content: center;
}
input[type="text"] {
  border: none;
  background: transparent;
  color: var(--primary);
  border-bottom: 1px solid var(--gray);
  padding: 5px 10px;
  width: 20vw;
}

input::placeholder {
  color: var(--primary);
}

input:focus {
  outline: none;
  border-bottom: 1px solid var(--primary);
}

button {
  padding: 5px 20px;
  background: none;
  border: 1px solid var(--primary);
  color: var(--white);
  cursor: pointer;
}

button:active,
button:hover {
  border: 1px solid var(--white);
  color: var(--primary);
}
