@import "../../colors/Colors.css";

.listContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.inputContainer {
}
input[type="text"] {
  border: none;
  background: transparent;
  color: var(--primary);
  border-bottom: 1px solid var(--gray);
  padding: 5px 10px;
  width: 30vw;
}

input::placeholder {
  color: var(--primary);
}

input:focus {
  outline: none;
  border-bottom: 1px solid var(--primary);
}

button {
  padding: 5px 20px;
  background: none;
  border: 1px solid var(--primary);
  color: var(--white);
  cursor: pointer;
}

.addButton:active,
.addButton:hover {
  border: 1px solid var(--white);
  color: var(--primary);
}

.addButton {
  margin-left: 10px;
}
.cancelButton {
  position: relative;
  background-color: var(--primary);
  right: 0px;
}
.cancelButton:hover,
.cancelButton:focus {
  border: 1px solid var(--white);
}
