@import "./colors/Colors.css";

.App {
  background-color: var(--black);
  width: 50vw;
  height: 70vh;
  text-align: center;
  border-radius: 5px;
  box-shadow: 1px 1px 20px 5px var(--secondary);
}

.container {
  margin: 10px;
  padding: 10px;
  border: 1px solid var(--primary);
  border-radius: 5px;
  height: 75%;
}

h2 {
  color: var(--gray);
  margin: 10px;
  padding: 10px;
}
